/* standard style reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, h5, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, aside {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 152px;
  font-family: 'Quattrocento', serif;
  color: rgb(158, 9, 9);
  text-align: center;
  text-shadow: 0 0 10px white, 0 0 20px whitesmoke;
  border-style: none;
  border-width: 0px;
  border-color: #ccc;
  border-radius: 0%;
}

.header {
  margin-top: 152px;
}

